* {
    margin: 0px;
    padding: 0px;
    /*border: 1px solid hotpink;*/
}

body {
    background: #EFF0F2;
}

.wrap {
    width: 100%;
    height: 100%;
    min-width: 1390px;
}

.clear_float::after {
    content: "";
    clear: both;
    display: block;
}

.header {
    width: 100%;
    height: 25px;
    background: #B6BEC6;
    border: none;
    border-bottom: 2px solid #80C2E0;
}

.header_left {
    float: left;
    margin-left: 30px;
    font-size: 12px;
    font-family: SimHei;
    color: #1E1E1E;
    line-height: 25px;
}

.header_right {
    float: right;
    margin-right: 20px;
}

.header_right img {
    vertical-align: middle;
    width: 11px;
    margin-right: 12px;
    cursor: pointer;
}

.pitch_off {
    width: 15px;
    height: 15px;
}

.blow,
.reduce,
.translate {
    width: 19px;
    height: 20px;
}

.content {
    width: 100%;
    height: 733px;
    /*_height: 905px;*/
    /*border: 1px solid hotpink;*/
}

.content_left {
    width: 3%;
    min-width: 39px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    float: left;
}

.content_center {
    width: 82%;
    height: 100%;
    border-right: 1px solid #80C2E0;
    border-left: 1px solid #80C2E0;
    float: left;
    box-sizing: border-box;
}

.content_right {
    width: 15%;
    height: 100%;
    float: left;
}

.content_left ul li {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-left: 5px;
    /*border: 1px solid red;*/
    margin: 5px auto;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    background: #B7B7B7;
    border-radius: 4px;
}

.content_left ul li:hover {
    background: #A8A9AA;
}

.content_left img {
    margin-top: 6px;
    /*vertical-align: middle;*/
}

a {
    color: #122BE6;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.content_center {
    position: relative;
}