* {
    margin: 0px;
    padding: 0px;
    /*border: 1px solid red;*/
}

body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 758px;
    background: url("../img/login-bg1.png") no-repeat;
    background-size: 100% 100%;
}

.header img {
    width: 121px;
    height: 45px;
    margin-left: 25px;
    margin-top: 6px;
}

.content {
    width: 70%;
    min-width: 1110px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    background: url("../img/login-bg2.png") no-repeat;
    background-size: 100% 100%;
}

button {
    width: 330px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    font-family: SimHei;
    background: #00A0E9;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #4B7893;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #4B7893;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #4B7893;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #4B7893;
}

.clear_float::after {
    content: "";
    clear: both;
    display: block;
}

.user_text {
    margin-top: 200px;
}

.user_text,
.pass_text {
    width: 330px;
    height: 44px;
    /*background: url("../img/input-border.png") no-repeat;*/
    /*background-size: 100% 100%;*/
    background: transparent;
    border: none;
    color: #4B7893;
    outline: none;
    text-indent: 10px;
    border-bottom: 1px solid #4B7893;
}

.pass_text {
    margin-bottom: 20px;
}

.offline_btn {
    /*float: left;*/
    /*margin: 0px 200px;*/
}

.online_btn {
    /*float: right;*/
}