.right_part1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #80C2E0;
}

.part_title {
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin-top: 10px;
    text-indent: 15px;
    margin-left: 12px;
    font-family: SimHei;
    background: url("../img/progress/title-bg.png") no-repeat;
    background-size: 100% 100%;
}

.part2_content ul {
    margin-top: 10px;
}

.part2_content ul li {
    margin-left: 30px;
    margin-top: 10px;
}

.part1_content P {
    text-indent: 30px;
    margin: 10px 0px;
}

.menus img {
    margin-left: 5px;
    width: 7px;
    height: 7px;
}

.dropdown {
    display: none;
    border: 1px solid #494949;
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
    width: 70px;
}

.dropdown p,
.btndrop {
    cursor: pointer;
}

.dropdown a {
    text-decoration: none;
    color: grey;
    outline: none;
    font-size: 13px;
    border-bottom: 1px solid #494949;
}

.dropdown p:last-child a {
    border: none;
}

.part2_content,
.part1_content {
    color: grey;
}

.inner-therm span {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.content {
    height: 750px;
}